<!DOCTYPE html>

<html>
    <head>
        <title>Find your dream computers here!</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>
    <style>
        body {
          
          background-image: url('../static/bg.jpeg'); 
          background-repeat: no-repeat;
          margin-right: 0px;
          background-size: 1500px 900px;
          background-position: center;
          background-attachment: fixed;
          font: aliceblue;
          width: 100%;
        }
        h4 {
            font-family: copperplate, fantasy;
        }
        mark {
            font-family: copperplate, fantasy;
        }
    </style>
    <body>

    <main role="main" class="container extra-bottom">
        <h1 class="mt-5"><a href="/"><img src="static/dreampc.png" style="width: 350px; height: 48px;"></a></h1>
      <p><mark>I would like my storage to be ...</mark></p>
      <h4>Current selected id: {{chosenStorage}}</h4>
    </main>
    

    <div class="container">    
        
        <!-- Button trigger modal -->
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Model">Add Model</button>
        </div>

        
        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Add a model</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="task-form-display">Model</span>
                    <input type="text" class="form-control" placeholder="Description of the model" aria-label="task-name" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submit-task" type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>

    </div>
    <!--search-->
    <div class="container">    
        
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#search-modal" data-source="Model">Search for a model</button>
        </div>

        
        <div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="search-form-display">Model</span>
                    <input type="text" class="form-control" placeholder="Description of the model" aria-label="task-name" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="search-task" type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>

    </div>    
    <!--end search-->

    <!--advance-->
    <div class="container">    
        
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#advance-modal" data-source="Model">SSD Price Trending</button>
        </div>

        
        <div class="modal fade" id="advance-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">advance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="advance-task" type="button" class="btn btn-primary">Show me the answers!</button>
            </div>
            </div>
        </div>
        </div>

    </div>   
    <!--end advance-->

    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="task-id">id</th>
            <th class="task">make</th>
            <th class="task">purpose</th>
            <th class="task">size</th>
            <th class="update">price</th>
            <th class="update">Edit price</th>
            <th class="update">Remove</th>
            <th class="update">Select</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.make}}</td>
                <td>{{item.purpose}}</td>

                <td>{{item.size}}</td>
                <td>{{item.price}}</td>

                <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="{{item.id}}" data-content="{{item.price}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>

                <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                {%if item.id != chosenStorage %}
                <td><button class="btn btn-outline-secondary btn-sm select" data-source="{{item.id}}" type="button" style="font-size: 30px; border: 0px;"><i class="far fa-check-square" aria-hidden="true"></i></button></td>
                {%else%}
                    <td><button class="btn btn-outline-secondary btn-sm select" data-source="{{item.id}}" type="button" disabled style="font-size: 30px; border: 0px;"><i class="fas fa-check-square" aria-hidden="true"></i></button></td>
                {%endif%}
                
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>



    <footer class="footer">
      <div class="container">
            <p class="text-muted"><small>Team 87 Project for CS411</small></p>
      </div>
    </footer>
  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>
